model_config_list {
    config {
        name: 'iva-day'
        base_path: '/models/iva-day-model'
        model_platform: 'tensorflow'
    }
    config {
        name: 'iva-night'
        base_path: '/models/iva-night-model'
        model_platform: 'tensorflow'
    }
    config {
        name: 'day-night'
        base_path: '/models/day-night-model'
        model_platform:'tensorflow'
    }
}

